* 
{
  box-sizing: border-box;
}

body
{
  box-sizing: border-box;
  overflow: hidden;
  padding: 3rem;
  height: 100%;
}


.App
{
  height: 100%;
}

.logo
{
  font-style:oblique;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: orange;
  cursor: pointer;
}

.logo span
{
  color: rgb(25, 125, 207);
}

.body-div
{
  height: 500px;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar
{
  height: 100%;
  width: 28%;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  background-color: rgb(243, 243, 243);
  
}

.content
{
  height: 100%;
  width: 70%;
  padding: 2rem;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  background-color: rgb(243, 243, 243);
}

